.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .not-found-title {
    font-size: 10rem;
    color: #f44336;
    margin: 0;
  }
  
  .not-found-message {
    font-size: 2rem;
    color: #333;
    margin: 0;
    margin-top: 1rem;
    text-align: center;
  }
  